<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
  <h2 class = "text-center">Search for the top ten posts on Reddit's r/Aww!!</h2>
  <br>

  <div class="text-center">
    <h3>Post 1:</h3>
    <br>
    <button (click)="SearchPostData(1)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 1">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 2:</h3>
    <br>
    <button (click)="SearchPostData(2)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 2">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 3:</h3>
    <br>
    <button (click)="SearchPostData(3)">Display</button>
  <br>
  </div>

  <div *ngIf="postNumber == 3">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 4:</h3>
    <br>
    <button (click)="SearchPostData(4)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 4">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 5:</h3>
    <br>
    <button (click)="SearchPostData(5)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 5">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 6:</h3>
    <br>
    <button (click)="SearchPostData(6)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 6">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 7:</h3>
    <br>
    <button (click)="SearchPostData(7)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 7">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 8:</h3>
    <br>
    <button (click)="SearchPostData(8)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 8">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 9:</h3>
    <br>
    <button (click)="SearchPostData(9)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 9">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>

  <br>
  <div class="text-center">
    <br>
    <h3>Post 10:</h3>
    <br>
    <button (click)="SearchPostData(10)">Display</button>
    <br>
  </div>

  <div *ngIf="postNumber == 10">
    <br>
    <div class = "text-center" *ngFor="let c of childData">
        <p>Title: {{c.title}}</p>
        <p>Link:<a href="{{baseURL}}{{c.permalink}}">Click Here!</a></p>
      <div *ngIf="c.is_video === false">
        <img src="{{c.url}}" width="300" height ="300">
      </div>
      <div *ngIf="c.is_video === true">
        <img src="{{c.thumbnail}}" width="300" height ="300">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  </body>
</html>